
<odoo>
  <data>


    <menuitem name="XG客户管理"
        id="menu_xgcrm_root" groups="base.group_user"/>

    <!--来往公司页面-->
    <record id="action_xgcrm_customer_company" model="ir.actions.act_window">
        <field name="name">来往客户公司</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">xgcrm.company</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[("is_customer", "=", True)]</field>
        <field name="context">{'default_is_customer': True}</field>
        <field name="help" type="html">
          <p class="o_view_nocontent_smiling_face">
            记录为空！还没有添加客户公司
          </p><p>
            请新建客户公司
          </p>
        </field>
    </record>
    <!--来往人员页面-->
    <record id="action_xgcrm_customer_person" model="ir.actions.act_window">
        <field name="name">来往客户人员</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">xgcrm.person</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[("is_customer", "=", True)]</field>
        <field name="context">{'default_is_customer': True}</field>
        <field name="help" type="html">
          <p class="o_view_nocontent_smiling_face">
            记录为空！还没有添加客户人员
          </p><p>
            请新建客户联系人，并分配到公司名下
          </p>
        </field>
    </record>

    <menuitem name="客户" id="menu_xgcrm_customer" parent="menu_xgcrm_root" />
    <menuitem name="公司" id="menu_xgcrm_customer_company" parent="menu_xgcrm_customer" action="action_xgcrm_customer_company"/>
    <menuitem name="人员" id="menu_xgcrm_customer_person" parent="menu_xgcrm_customer" action="action_xgcrm_customer_person"/>







    <!--供应商公司页面-->
    <record id="action_xgcrm_supplier_company" model="ir.actions.act_window">
        <field name="name">供应商公司</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">xgcrm.company</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[("is_supplier", "=", True)]</field>
        <field name="context">{'default_is_supplier': True}</field>
        <field name="help" type="html">
          <p class="o_view_nocontent_smiling_face">
            记录为空！还没有添加供应商公司
          </p><p>
            请新建供应商公司
          </p>
        </field>
    </record>
    <!--供应商人员页面-->
    <record id="action_xgcrm_supplier_person" model="ir.actions.act_window">
        <field name="name">供应商人员</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">xgcrm.person</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[("is_supplier", "=", True)]</field>
        <field name="context">{'default_is_supplier': True}</field>
        <field name="help" type="html">
          <p class="o_view_nocontent_smiling_face">
            记录为空！还没有添加供应商人员
          </p><p>
            请新建供应商人员，并分配到公司名下
          </p>
        </field>
    </record>

    <menuitem name="供应商" id="menu_xgcrm_supplier" parent="menu_xgcrm_root" />
    <menuitem name="公司" id="menu_xgcrm_supplier_company" parent="menu_xgcrm_supplier" action="action_xgcrm_supplier_company"/>
    <menuitem name="人员" id="menu_xgcrm_supplier_person" parent="menu_xgcrm_supplier" action="action_xgcrm_supplier_person"/>


  </data>
</odoo>